footer {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 33.33%;
}

.footer-links h4 {
  display: inline-block;
  width: 18rem;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  color: mediumorchid;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  margin-left: auto;
  width: 18rem;
  padding: 2px;
  margin: 0 auto;
  text-align: center;
}

.footer-links ul li a :hover {
  color: mediumorchid;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: gray;
  margin: 2rem auto;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: beige;
  transition: all 0.5 ease;
}

.social-link a:hover {
  background-color: mediumorchid;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
    margin: 1.8rem auto;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
  .social-link a {
    margin: 0 auto;
  }
}
.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
}
