:root {
  --purple50: #f1fefd;
  --purple100: #e3f9fd;
  --purple200: #cbecfb;
  --purple300: #accff6;
  --purple400: #8aa1f0;
  --purple500: #6e6ee7;
  --purple600: #663fd9;
  --purple700: #7941c3;
  --purple800: #71369b;
  --purple900: #66327b;
  --purple950: #441e48;
  --margin: 0.5rem 0;
  --outline: 1px solid var(--purple50);
}

body {
  background-color: var(--purple50);
}

/* clases en general */
.border-none{
  border: none;
}

.border-bottom{
  border: unset;
  border-bottom: 2px solid var(--purple50);
}

/* aqui solo se modifica lo que es el texto de la parte superior del formulario, el "SignIn"
 alieandolo al centro, con un color de letra negro, con un tamaño de fuente de 45pixeles */
.signin {
  text-align: center;
  color: var(--purple950);
  margin: 10px 0px 20px;
  font-size: 45px;
}


/* Modifico el tamaño de la ventana donde aparecera el formulario */
.pop-up {
  border-radius: 10px;
  width: 350px;
  border: 1px solid var(--purple50);
  background-color: var(--purple400);
}

/* Aca modifico lo es el apartado donde se debe de ingresar el Email y el password */
.input{
  background-color: transparent;
  color: var(--purple800);
  display: block;
  margin: 2.5rem auto;
  padding: 0 12px;
  height: 40px;
  width: 320px;
}

.input:hover{
  outline: var(--outline);
}

.input:focus{
  outline: var(--outline);
  color: var(--purple50);
}

.input::placeholder{
  color: var(--purple800);  
}

/* Aqui se modifican los botones Login y cerra del formulario */
.btn {
  width: 120px;
  height: 40px;
  border: 2px solid var(--purple50);
  outline: none;
  font-size: 16px;
  background-color: var(--purple800);
  color: var(--purple50);
  border-radius: 10px;
  cursor: pointer;
  margin: var(--margin);
}

.btn-show {
  min-width: 100px;
  max-width: auto;
  width: 200px;
}

.btn-enter {
  margin: 0.5rem auto;
  display: block;

}

.btn-close {
  background-color: var(--purple950);
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 6ex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 8px;
  top: 8px;
}

.password-remember {
  text-decoration: none;
  text-align: center;
  color: var(--purple950);
  font-size: 18px;
  margin: 0 auto;

}


nav {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.logged-in {
  position: fixed;
  right: 1%;
  width: 120px;
  height: 38px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 6.4px;



}