:root {
  --blue: #24bae4;
  --purple: #364797;
  --fucsia: #a94f99;
  --shadow: 0px 5px 50px #00000020;
  --radius: 2ex;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #24bae4 #364797;
}

body {
  text-align: center;
  font-family: sans-serif;
  text-transform: capitalize;
  background-image: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid #fff;
  background-image: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

dialog {
  width: 400px;
  padding: 15px 0;
  margin: auto auto;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: #00000082;
  -o-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  background-image: var(--linear-blue-purple);
}

dialog::backdrop {
  backdrop-filter: blur(8px);
  background-color: #00000082;
}

input,
select {
  height: 40px;
  color: black;
  display: block;
  padding: 0 12px;
  margin: 0.8rem auto;
  background: transparent;
}

input::placeholder {
  color: #00000082;
}

button {
  all: unset;
  width: 120px;
  height: 40px;
  color: white;
  cursor: pointer;
  margin: 10px 15px;
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: var(--blue);
  -o-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
}

button:hover {
  color: black;
}

button:focus {
  color: var(--purple);
}

.btn-categoria {
  background-color: var(--fucsia);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 12px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

footer {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  color: var(--purple);
}

.close {
  top: 2px;
  right: 2px;
  width: 28px;
  height: 28px;
  outline: none;
  cursor: pointer;
  position: absolute;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 33.33%;
}

.footer-links h4 {
  width: 18rem;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  display: inline-block;
}

.footer-links ul li a {
  color: black;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.social-link a {
  width: 40px;
  color: black;
  min-height: 40px;
  margin: 2rem auto;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background: transparent;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.social-link a:hover {
  color: var(--blue);
  background: black;
}

.redes {
  gap: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.border-bottom {
  border: unset;
  border-bottom: var(--border);
}

#categorias {
  display: flex;
  margin: 12px auto;
  align-items: center;
  justify-content: start;
}

#productos {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 12rem;
  height: auto;
  margin: 0 auto;
  padding: 12px 0;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  -o-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
}
