:root {
  --radial: radial-gradient(circle, #28b9e2 0%, #695bc2 100%);
  --linear: linear-gradient(90deg, #28b9e2 0%, #695bc2 100%);
  --blue: #28b9e2;
  --purple: #695bc2;
  --radius: 5.5ex;
  --outline: 2px solid var(--blue);
  --border-btn: 2px solid var(--blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: sans-serif;
  text-transform: capitalize;
  width: 100vw;
  height: 100vh;
  text-align: center;
  /* background: black; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 2rem;
  padding: 12px;
  color: black;
}

.title {
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
  font-size: 45px;
  color: var(--purple);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100vw;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: var(--linear);
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
  border-radius: var(--radius);
  color: var(--purple);
}

.btn {
  cursor: pointer;
  width: 120px;
  height: 40px;
  margin: 10px 15px;
  outline: var(--outline);
  background: var(--blue);
}

.btn-show,
.btn-enter {
  min-width: 100px;
  max-width: auto;
  width: 100px;
}

.btn-close {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 28px;
  height: 28px;
  outline: none;
}

.btn:hover {
  color: black;
  outline: var(--outline);
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 33.33%;
}

.footer-links h4 {
  display: inline-block;
  width: 18rem;
  padding: 20px;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.footer-links ul li a {
  margin: 0 auto;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: black;
}

.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background: transparent;
  margin: 2rem auto;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
}

.social-link a:hover {
  background: black;
  color: var(--blue);
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.border-bottom {
  border: unset;
  border-bottom: 2px solid var(--blue);
}

.colecciones {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 12px auto;
}

.conjuntos {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.card {
  width: 15rem;
  margin: 0 auto;
  padding: 20px;
  color: black;
  border: 2px solid var(--blue);
  border-radius: var(--radius);
  box-shadow: 0px 0px 10px var(--blue);
}

.card header {
  font-size: large;
  font-weight: bold;
  color: var(--purple);
}

.card footer {
  font-size: medium;
  font-style: italic;
  color: var(--blue);
}

.pop-up {
  margin: auto auto;
  padding: 15px 0;
  width: 400px;
  border: var(--border-btn);
  border-radius: var(--radius);
  background: #00000082;
  box-shadow: 0px 0px 25px var(--blue);
}

.pop-up::backdrop {
  backdrop-filter: blur(5px);
}

.input {
  /* all: unset; */
  display: block;
  margin: 0.8rem auto;
  padding: 0 12px;
  height: 30px;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  background: transparent;
  border: 1px solid var(--blue);
}

.input:hover,
.input:focus {
  border: none;
  outline: var(--outline);
}

.input::placeholder {
  color: black;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
    margin: 1.8rem auto;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
  .social-link a {
    margin: 0 auto;
  }
}
